@page "/shoppinglistpage";
@using OrganizerBlazor.Auth.Service;
@using OrganizerBlazor.Cookbook.Models.CookBookDTO;
@using System.Net.Http.Headers;
@using OrganizerBlazor.Cookbook.Models;

@inject HttpClient Http
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager
@inject IAuthUtils authUtils
@attribute [Authorize]

<div class="container mt-4">
    @if (LoadingData)
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h3>Loading shopping list...</h3>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Shopping List</h3>
                        @if (shoppingList.SingleShopListRecipes.Count > 0 || shoppingList.AdditionalItems.Count > 0)
                        {
                            <div class="btn-group mb-3" role="group" aria-label="List options">
                                <button class="btn btn-secondary" @onclick="ShowSeparatedList">Separated</button>
                                <button class="btn btn-secondary" @onclick="ShowMergedShoppingList">Merged</button>
                            </div>
                        }

                        @if (!ShowMergedList)
                        {
                            @if (shoppingList.SingleShopListRecipes.Count > 0 || shoppingList.AdditionalItems.Count > 0)
                            {
                                @foreach (var recipeShoppingData in shoppingList.SingleShopListRecipes)
                                {
                                    <div class="mb-2">
                                        <h4>@recipeShoppingData.RecipeName</h4>
                                        <button class="btn btn-danger btn-sm" @onclick="() => {RemoveWholeRecipeFromShoppingList(recipeShoppingData.RecipeName);}">
                                            <i class="bi bi-x"></i> Remove
                                        </button>
                                        <ul class="list-group">
                                            @foreach (var ingredient in recipeShoppingData.Ingredients)
                                            {
                                                var isStriked = strikedIngredients.ContainsKey(ingredient.Guid.ToString()) && strikedIngredients[ingredient.Guid.ToString()];
                                                <li class="list-group-item @((isStriked) ? "text-decoration-line-through" : "")" @onclick="() => ToggleStriked(ingredient.Guid.ToString())">
                                                    @ingredient.Name - @ingredient.Quantity @ingredient.Unit
                                                    <button class="btn btn-danger btn-sm float-end" @onclick:stopPropagation="true" @onclick="() => RemoveIngredient(ingredient.Guid.ToString())">🗑️</button>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                            @if (shoppingList.AdditionalItems != null && shoppingList.AdditionalItems.Count > 0)
                            {
                                <div class="mb-3">
                                    <h5>Extra</h5>
                                    <ul class="list-group">
                                        @foreach (var item in shoppingList.AdditionalItems)
                                        {
                                            var isStriked = strikedAdditionalItems.ContainsKey(item) && strikedAdditionalItems[item];
                                            <li class="list-group-item @((isStriked) ? "text-decoration-line-through" : "")" @onclick="() => ToggleStrikedAdditionalItem(item)">
                                                @item
                                                <button class="btn btn-danger btn-sm float-end" @onclick="() => RemoveAdditionalItem(item)" @onclick:stopPropagation="true">🗑️</button>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        }
                        else
                        {
                            <ul class="list-group">
                                @foreach (var item in mergedList)
                                {
                                    var isStriked = strikedAdditionalItems.ContainsKey(item) && strikedAdditionalItems[item];
                                    <li class="list-group-item @((isStriked) ? "text-decoration-line-through" : "")" @onclick="() => ToggleStrikedAdditionalItem(item)">
                                        @item
                                        <button class="btn btn-danger btn-sm float-end" @onclick="() => RemoveItemFromMerged(item)" @onclick:stopPropagation="true">🗑️</button>
                                    </li>
                                }
                            </ul>
                        }

                        <div class="input-group mt-3">
                            <input type="text" class="form-control" placeholder="Item name" @bind="currentItemName">
                            <button class="btn btn-outline-secondary" @onclick="AddItemToList">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                @if (earlierAddedITems != null && earlierAddedITems.Count > 0)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">History</h4>
                            <ul class="list-group">
                                @foreach (var item in earlierAddedITems)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        @item
                                        <span>
                                            <button class="btn btn-primary btn-sm" @onclick="() => AddEarlierItemToShoppingList(item)">Add</button>
                                            <button class="btn btn-danger btn-sm" @onclick="() => RemoveItemFromAdditionalList(item)">🗑️</button>
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (recommendedItems.Count > 0)
                {
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Recommended</h4>
                            <ul class="list-group">
                                @foreach (var recItem in recommendedItems)
                                {
                                    <li class="list-group-item" @onclick="() => AddEarlierItemToShoppingList(recItem)">
                                        @recItem
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <button class="btn btn-success mt-3" @onclick="SaveShoppingListToBackend">Save Shopping List</button>
</div>

@code {
    private bool LoadingData = true;
    private Dictionary<string, bool> strikedIngredients = new Dictionary<string, bool>();
    private Dictionary<string, bool> strikedAdditionalItems = new Dictionary<string, bool>();
    private List<string>? earlierAddedITems = new();
    private string currentItemName;
    private SingleShopList? shoppingList = new();
    private List<string> recommendedItems = new();
    private List<string> mergedList = new();
    private bool ShowMergedList = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        getShoppingListFromBackend();

    }

    private async void getShoppingListFromBackend()
    {
        try
        {
            string tokenToSet = await LocalStorageService.GetItemAsync<string>("JwtToken");
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", tokenToSet);

            var response = await Http.GetAsync("shoppinglist/get-shoppinglist");

            if (!response.IsSuccessStatusCode)
            {
                if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
                {
                    // If the status code is 401, clear the credentials and redirect.
                    await authUtils.RemoveCredentialsAsync();
                    return;
                }
                // Handle other non-success status codes appropriately
                return;
            }

            var shoppingListData = await response.Content.ReadFromJsonAsync<ShoppingListPageDTO>();
            if (shoppingListData.SingleShopList != null && shoppingListData.AdditionalItems != null)
            {
                shoppingList = shoppingListData.SingleShopList;
                earlierAddedITems = shoppingListData.AdditionalItems;
                recommendedItems = shoppingListData.RecommendedAdditionalItems;
            }

        }
        catch (Exception e)
        {
            // Handle any exceptions here
            Console.WriteLine($"Exception in getShoppingListFromBackend: {e.Message}");
        }
        finally
        {
            LoadingData = false;
            StateHasChanged();
        }
    }

    private void ToggleStriked(string ingredientGuid)
    {
        if (strikedIngredients.ContainsKey(ingredientGuid))
        {
            strikedIngredients[ingredientGuid] = !strikedIngredients[ingredientGuid];
        }
        else
        {
            strikedIngredients[ingredientGuid] = true;
        }
    }

    private void AddItemToList()
    {
        shoppingList.AdditionalItems.Add(currentItemName);
        earlierAddedITems.Add(currentItemName);
        currentItemName = "";
    }

    private void ToggleStrikedAdditionalItem(string item)
    {
        if (strikedAdditionalItems.ContainsKey(item))
        {
            strikedAdditionalItems[item] = !strikedAdditionalItems[item];
        }
        else
        {
            strikedAdditionalItems[item] = true;
        }
    }

    private void RemoveIngredient(string ingredientGuid)
    {

        SingleShopListRecipe recipeToRemove = null;
        // i can search directly on ingredient id since theres slim to no chance of duplicates
        foreach (var recipe in shoppingList.SingleShopListRecipes)
        {
            var ingredientToRemove = recipe.Ingredients.FirstOrDefault(ingr => ingr.Guid.ToString() == ingredientGuid);
            if (ingredientToRemove != null)
            {
                recipe.Ingredients.Remove(ingredientToRemove);
                if (recipe.Ingredients.Count == 0)
                {
                    recipeToRemove = recipe;
                }
                break; // If you only expect one ingredient with this Guid, you can break the loop once found.
            }
        }

        if (recipeToRemove != null)
        {
            shoppingList.SingleShopListRecipes.Remove(recipeToRemove);
        }

        // Optionally remove the ingredient from the strikedIngredients as well
        strikedIngredients.Remove(ingredientGuid);
    }

    private void RemoveAdditionalItem(string item)
    {
        shoppingList.AdditionalItems.Remove(item);

        // Optional: Remove from striked list
        if (strikedAdditionalItems.ContainsKey(item))
        {
            strikedAdditionalItems.Remove(item);
        }
    }

    private async void SaveShoppingListToBackend()
    {
        LoadingData = true;
        StateHasChanged();
        //make post request
        try
        {
            string tokenToSet = await LocalStorageService.GetItemAsync<string>("JwtToken");
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", tokenToSet);

            ShoppingListPageDTO updatedShopList = new ShoppingListPageDTO()
                {
                    SingleShopList = shoppingList,
                    AdditionalItems = earlierAddedITems
                };

            var response = await Http.PostAsJsonAsync("shoppinglist/update-shoppinglist", updatedShopList);

            if (!response.IsSuccessStatusCode)
            {
                //show error message
                return;
            }
            else{
                getShoppingListFromBackend();
                LoadingData = false;
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("im in catch!");
            Console.WriteLine(e.Message);
        }
    }

    private void AddEarlierItemToShoppingList(string item)
    {
        // Add the item to the shoppingList
        shoppingList?.AdditionalItems.Add(item);
        mergedList.Add(item);
    }

    private void RemoveItemFromAdditionalList(string itemName)
    {
        earlierAddedITems?.RemoveAll(item => item == itemName);
        mergedList.Remove(itemName);
    }

    private void RemoveWholeRecipeFromShoppingList(string recipeName)
    {
        shoppingList?.SingleShopListRecipes.RemoveAll(d => d.RecipeName == recipeName);
    }

    private void ShowMergedShoppingList()
    {
        mergedList.Clear();

        //only do merge if it is empty
        if(mergedList.Count == 0)
        {
            //take all items from all shopping recipies and add to temporary list with all ingredients
            List<Ingredient> tempIngr = shoppingList.SingleShopListRecipes
                                         .SelectMany(recipe => recipe.Ingredients)
                                         .ToList();



            for (int i = tempIngr.Count - 1; i >= 0; i--)
            {
                string tempName = "";
                tempName += $"{tempIngr[i].Name} : {tempIngr[i].Quantity}{tempIngr[i].Unit}";

                // a second for loop to check ahead in list and find duplicate names
                for (int j = i - 1; j >= 0; j--)
                {
                    if (tempIngr[i].Name == tempIngr[j].Name)
                    {
                        tempName += $" {tempIngr[j].Quantity}{tempIngr[j].Unit} ";
                        tempIngr.RemoveAt(j);
                        i--; // Decrement i as the list size has changed
                    }
                }

                mergedList.Add(tempName);
                tempName = " ";
            }

            //add the extra items aswell
            mergedList.AddRange(shoppingList.AdditionalItems);
        }

        ShowMergedList = true;
        StateHasChanged();
    }

    private void ShowSeparatedList()
    {
        ShowMergedList = false;
        StateHasChanged();
    }

    private void RemoveItemFromMerged(string nameToRemove)
    {

        //separate name from wuant and unit by blank space
        var nameSeparated = nameToRemove.Split(" :")[0];

        //go trough normal list and addiotnal item list and remove wehre name is same
        foreach (var recipe in shoppingList.SingleShopListRecipes)
        {
            recipe.Ingredients = recipe.Ingredients
                .Where(ingredient => !ingredient.Name.Equals(nameSeparated))
                .ToList();
        }

        shoppingList.AdditionalItems = shoppingList.AdditionalItems
            .Where(item => !item.Equals(nameSeparated))
            .ToList();

        //since nameToRemove comes from mergedList i dont need to manipulate the string for that one
        mergedList = mergedList
            .Where(name => !name.StartsWith(nameSeparated))
            .ToList();

        //remove whole recipies where they have no ingredients in specified view
        shoppingList.SingleShopListRecipes = shoppingList.SingleShopListRecipes
            .Where(recipe => recipe.Ingredients.Count > 0)
            .ToList();

        StateHasChanged();

    }
}
